/* BlueButton.css */

.button-blue {
    background-color: #00B4D8; /* Blue color */
    color: #ffffff; /* White text color */
    padding: 10px;
    border-radius: 5px;
    border: none;
    cursor: pointer;
    outline: none; /* Remove default outline */
}

.button-blue:hover {
    background-color: #0077B6; /* Darker blue color on hover */
}
