.mainContentTask .ligth-theme h1 {
    color: black;
    text-align: center;
}

.mainContentTask p {
    text-align: center;
}

.mainContentTask {
    min-height: 100vh;
}

.mainContentTask .dark-theme h1 {
    color: white;
}