.task {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 0.5rem 1rem;
    background-color: #fff;
    /*padding: 0.5rem 1rem;*/
    border-bottom: 1px solid #ccc;
    color: #333;
    border-radius: 15px;
}

.task.dark-theme {
    background-color: lightgray;
}

.task__completed {

    cursor: pointer;
}

.task__edit {
    cursor: pointer;
    display: flex;
    justify-content: end;
}

.task__date {
    display: flex;
    flex-direction: row;
    padding: 5px;
    justify-content: center;
}

p {
    margin: 3px;
}

h3 {
    margin: 3px;
}