.task {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    margin: 0.5rem 1rem;
    /*padding: 0.5rem 1rem;*/
    border-bottom: 1px solid #ccc;
    background-color: #fff;
    color: #333;
    border-radius: 15px;
}

.task__completed {
    cursor: pointer;
}

.task__date {
    display: flex;
    flex-direction: row;
    padding: 5px;
}

p{
    margin: 3px;
}
h3{
    margin: 3px;
}