button {
    padding-top: 0px;
    margin-top: 20px;
    margin-left: 20px;
}

menu{
    background-color: red;
}

/* ------------- sliding menu ------------------ */
.hidden {
    display: none;
}

.visible {
    display: inherit;
}


